@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* this is the font family used in every page of our website  */
*{
    font-family: "Outfit", sans-serif;    
}

/* now we will define some primary colour of our website */
@theme{
    --color-primary: #5044E5;
}

.reset-tw, .reset-tw *{
    all:revert ! important
}
.cl-drawerRoot{
    z-index:10;
}